body {
  background: #121212;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #adb7be;
}
/* Header */
.nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 8px 16px;
  background: #121212;
  border-bottom: 1px #575a6d solid;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.list {
  display: flex; 
  gap: 32px; 
  margin: 0 60px;
  list-style-type: none;
}

.text a {
  color: #adb7be; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 28px; 
  text-decoration: none;
}
.text a:hover {
  color: #ffffff;
}

/* main */

/* Section Home */
.container {
  max-width: 1200px; 
  margin: auto; 
  padding: 20px; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 40px; 
}
.sectionHome {
  margin: 40px 20px 0;
  padding: 40px; 
  background: rgba(18, 18, 18, 0.8); 
}
.headingHome {
  margin-bottom: 20px; 
}
.helloIm {
  color: #38bdf8; 
  font-size: 54px; 
  font-weight: 800; 
  margin: 0;
}
.webDeveloper {
  color: #ffd700; 
  font-size: 72px; 
  font-weight: 800; 
}
.paragraphHome {
  margin-top: 20px;
  margin-bottom: 40px; 
  color: rgba(137, 142, 145, 0.74); 
  font-size: 20px; 
  text-align: justify;
}
.button {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px; 
  background: linear-gradient(
    171deg,
    #00335a 0%,
    #1b78fb 50%,
    #3cf2ff 100%
  ); 
  border: none;
  margin-right: 20px;
  border-radius: 12px; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background 0.3s; 
}
.button a {
  color: white; 
  font-size: 16px; 
  font-weight: bold; 
  text-decoration: none;
}
.button:hover {
  background: #1b78fb; 
}
.imageHome {
  width: 300px; 
  height: 300px; 
  border-radius: 9999px; 
}
.borderHome {
  width: 600px;
  padding: 0 20px;
  height: 130px;
  border-radius: 6px;
  border: 1px #33353f solid;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px auto; 
}
.headingBorder {
  margin: 0 40px; 
  text-align: center; 
}
.headingBorderVal {
  display: flex; 
  justify-content: center; 
  width: 74.34px; 
  height: 40px; 
}

/* About section */
.headingAbout {
  color: white;
  font-size: 36px;

  font-weight: 700;
  line-height: 40px;
}
.paragraphAbout {
  color: white;
  font-size: 18px;
  color: rgba(137, 142, 145, 0.74); 
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0;
}
.skills {
  padding: 0;
  color: rgba(230, 236, 240, 0.74); 
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-end: auto;
  margin-top: 10px;
}
.content {
  padding: 0;
  color: rgba(230, 236, 240, 0.74);
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}

.sectionAbout {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 40px;
  gap: 40px;
  padding: 40px;
}
.imageAbout {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}
.aboutLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.aboutLinkText {
  text-align: center;
  color: #adb7be;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.aboutLinkText:hover {
  color: #ffffff;
}
.aboutLinkText.active {
  color: #ffffff; 
  font-weight: 700; 
}
.aboutSkillsList {
  margin-top: 10px;
}

/* Projects section */
.containerProjects {
  margin: 40px;
  width: 1120px;
}
.headingMyProjects {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
.card {
  gap: 20px;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #fff 10% 90%, transparent);
}
.listCard {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}

.item img {
  width: 100%;
  height: 63%;
  object-fit: cover;
  border-radius: 0px !important;
  border-top-left-radius: 15px !important;;
  border-top-right-radius: 15px !important;;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}
.card:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}
.card .item:hover{
  filter: grayscale(0);
}
/* .card[reverse="true"] .item{
  animation: reversePlay 10s linear infinite;
} */
/* @keyframes reversePlay{
  from{
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
} */

.headingTitleCard {
  background: #1f1f1f;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-top: -8px;
}
.headingCard {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
}
.description {
  color: #adb7be;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}

/* Contact */
.sectionContact {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 40px;
  justify-content: space-between;
}
.contact {
  width: 100%;
  max-width: 500px;
}

.headingContact {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.paragraphContact {
  color: #adb7be;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.formContact {
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.labelContact {
  color: #adb7be;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.inputContact {
  align-self: stretch;
  padding: 12px;
  background: #18191e;
  border-radius: 8px;
  border: 1px #33353f solid;
  color: white;
}

.textArea {
  width: 100%;
  padding: 12px;
  background: #18191e;
  border-radius: 8px;
  border: 1px #33353f solid;
  box-sizing: border-box;
  color: white;
}

.buttonContact {
  align-self: stretch;
  height: 40px;
  margin: 10px 0;
  background: #1e293b;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.buttonContact:hover {
  background: #354969;
}

/* Footer */
.footer {
  height: 100px;
  background-color: #18191e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-top: 0.5px #33353f solid;
}

.footer img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

.licency {
  color: #475569;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons .icon {
  color: white;
  font-size: 36px;
}

.social-icons .icon:hover {
  color: #0a66c2; 
}
